.promotions{
    background-color:lightseagreen;
    padding: 150px 50px 150px 50px;
    margin: 10px 10px 10px 10px;
}

.brief-about-paradise{
    padding: 150px 50px 150px 50px;
    margin: 10px 10px 10px 10px;
    background-color:lightseagreen;
}